<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Management System</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/font-awesome.min.css">
    <link rel="apple-touch-icon-precomposed" href="/static/admin/images/icon/icon.png">
    <script src="/static/admin/js/jquery-2.1.4.min.js"></script>
</head>

<body class="user-select">
<section class="container-fluid">
    {% include 'admin/header.html'%}
    <div class="row">
        {% include 'admin/leftSide.html'%}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
            <h1 class="page-header">Modify Category</h1>
            <form action="/admin/updateCategory/{{category.id}}/" method="post">
                <div class="form-group">
                    <label for="category-name">Category Name</label>
                    <input type="text" id="category-name" name="name" value = "{{category.name}}" class="form-control"
                           placeholder="Enter Category Name" required autocomplete="off">
                </div>

                <div class="form-group">
                    <label for="category-describe">Category Description</label>
                    <textarea class="form-control" id="category-describe" name="describe" rows="4" autocomplete="off">{{category.describe}}</textarea>
                </div>
                <button class="btn btn-primary" type="submit" name="submit">Update Category</button>
            </form>
        </div>
    </div>
</section>


<script src="/static/admin/js/bootstrap.min.js"></script>
<script src="/static/admin/js/admin-scripts.js"></script>

</body>
</html>
